<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stock Portfolios</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Stock Portfolio Manager</h1>
        <h2>Applicant</h2>
        <ul>
            <li>Insert a portfolio with stock tickers: <a href="/portfolio">Insert Portfolio</a></li>
            <li>View your portfolio: <a href="/portfolio:< Name >">Review Application</a></li>
        </ul>
        <h2>Admin</h2>
        <ul>
            <li>To select users based on gpa <a href="/adminGFA">Select by GPA</a></li>
            <li>To remove all applications <a href="/adminRemove">Remove All Applications</a></li>
        </ul>
    </body>
</html>